$page-div-flex = 
	display flex
	@media (orientation: landscape)
		flex 0 1 45%
		height 75%
	@media (orientation: portrait)
		flex 0 1 45%
		width 95%
		justify-content center

$input-style = 
	background-color $light-purple
	font-family $content
	font-size 2.5vmin
	outline none
	border-radius 5px
	border 4px solid $light-purple
	padding 1vmin
	transition all 0.3s
	height 50%
	&:focus
		background-color $white
		border 4px solid $white

$span-style = 
	{$heading-style}
	flex 0 1 30%
	font-size 2.5vmin
	text-align right
	margin-right 3%

.contact-wrapper
	display flex
	flex-wrap wrap
	@media (orientation: portrait)
		flex-direction column
	& h1
		@media (orientation: landscape)
			flex 1 1 100%
			text-align center

.contact-text-pic
	{$page-div-flex}
	@media (orientation: landscape)
		flex-wrap wrap
		justify-content space-around
		align-items flex-start
	@media (orientation: portrait)		
		align-items center
		justify-content space-around
		flex-wrap wrap
		& > *
			@media (orientation: portrait)
				height 90%
	& > p
		@media (orientation: landscape)
			flex 0 1 80%
			height 30%
			font-size 2.5vmin
			line-height 3.5vmin
		@media (orientation: portrait)
			flex 0 1 40%
		text-align justify
		font-size 3.2vmin
		line-height 4.5vmin
	& > figure	
		display flex
		@media (orientation: portrait)
			justify-content space-around
			align-items center
			flex-direction column
			flex 0 1 52.5%
		@media (orientation: landscape)
			flex 0 1 90%
			height 55%
			flex-wrap wrap
			justify-content center
			// align-items flex-start
			
		& > img
			@media (orientation: landscape)
				flex 0 1 60%
				height 90%
			@media (orientation: portrait)
				flex 0 1 70%
				width 90%
			border 3px double $light-purple
			border-radius 5px
		& > figcaption
			font-family $content
			font-size 3.5vmin
			color $white
		
.contact-form
	{$page-div-flex}
	flex-direction column
	align-items space-around
	justify-content space-around	
	& > div:not(.comment-box)
		@media (orientation: landscape)
			flex 0 1 5%
			display flex
			align-items center
		@media (orientation: portrait)
			flex 0 1 15%
			display flex
			align-items center
		& > span
			@media (orientation: landscape)
				{$span-style}
			@media (orientation: portrait)
				// border 1px solid white
				{$heading-style}
				flex 0 1 20%
				font-size 2.5vmin
				text-align right
				margin-right 3%
		& > input
			@media (orientation: landscape)
				{$input-style}
				flex 1 1 50%
			@media (orientation: portrait)
				{$input-style}
				flex 1 1 35%
				height 20%
	& > input
		{$button-style}
		flex 0 1 10%
		width 80%
		align-self center			

.comment-box
	@media (orientation: landscape)
		flex 0 1 40%
		display flex
		align-items center
		& > span
			{$span-style}
		& > textarea
			flex 1 1 50%
			{$input-style}
			resize none
	@media (orientation: portrait)
		flex 0 1 40%
		display flex
		align-items center
		& > span
			// border 1px solid white
			{$heading-style}
			flex 0 1 20%
			font-size 2.5vmin
			text-align right
			margin-right 3%
		& > textarea
			{$input-style}
			flex 1 1 50%
			resize none
