.down-arrow
  height 6vh
  width 6vh
  margin-top 50px
  transform: scale(2, 1.5)
  background url("images/down-arrow.svg") center no-repeat

.five-stages
  background url("images/reading-instruction.svg") center no-repeat
  flex 0 1 80%
  height 90%
  align-self center
