@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')

.flex
	display flex

// .more-info
// 	// font-size 2rem
	
.landing
	display flex
	flex-direction column
	flex 0 1 75%
	align-items center
	justify-content center
	flex-wrap wrap
	text-align center
	& hr
		width 80%
		// height 2px
		margin 5vmin 0
		// background $white
		// background-color $white
		border 1px solid $white
		
	& > blockquote
		display flex
		flex-direction column
		align-items center
		justify-content space-around
		font-style italic
		font-size 5vmin
		color $white
		& a
			flex 0 1 10%
			transition all 0.3s
			color $light-yellow
			font-family $content
			text-decoration none
			border-bottom 1px dashed $light-purple
			font-size 3vmin
			&:hover
				color $yellow
				cursor pointer
				border-bottom 1px dashed $dark-purple
		& > span
			flex 0 1 60%
			width 100%
	& > a
		{$link-style}
		color $white

.continue
	font-size 4.5vmin
