@media only screen and (max-width 1366px)
  .header
    background-color $light-purple
    position fixed
    padding 1vh 0
    font-size 2.7rem
    @media only screen and (min-width: 780px) and (max-width 1366px)
    	font-size 2.5rem
    @media (orientation: landscape)
      padding 1vh 0 3.5vh 0
    top 0
    width 100vw
    left 0
    z-index 10
    transition all 0.5s
    border-bottom 1vh double $dark-purple
  #nav-ul
    transition all 0.5s
    {$flex-row-wrap}
    // justify-content center
    // align-items space-around
    align-self flex-start
    /* header links */
    & > li:not(#menu)
      flex 0 1 100%
      // height auto
      {$flex-row-wrap}
      justify-content center
      & > a
        font-family $content
        text-decoration none
        flex 0 1 65%
        // padding 1vh
        text-align center
        color $blue
        {$flex-row}
        justify-content center
        align-items center
        // border-bottom none

  #menu
   {$flex-row}
   flex 0 1 100%
   font-size 0.9em
   background-color $light-purple
   justify-content  center
   align-self flex-start
   text-align  center
   color $dark-purple
   font-family $heading
   // border-bottom 1px solid $dark-purple
