@media only screen and (max-device-width: 767px)
  .footer
    font-family $content
    {$flex-row-wrap}
    z-index 9
    position fixed
    width 100vw
    padding 0 0 2.5vh 0
    @media (orientation: landscape)
      padding 0 0 4vh 0
    bottom 0
    left 0
    font-size 3rem
    justify-content space-around
    background-color $dark-purple
    border-top 1vh double $white
  #footer-div
    transition all 0.5s
    {$flex-col}
    // justify-content center
  .footer-title
    // border 1px solid black
    font-size 0.9em
    color $white
    padding 2vh 0 0.2vh 0

  .nav-links, .footer-section
    {$flex-col}
    & a
      tap-highlight-color rgba(0,0,0,0)
      text-decoration none
      font-family $content
      color: $beige
      font-size 0.9em
      border-bottom: 1px dashed $blue
    & span
      font-size 0.9em
      color $light-purple
    & > h4
      text-align center
    & > ul,
    & > div
      text-align center
      
  // .footer-section:nth-last-child(2)
  //   // border 1px solid white
  //   padding-bottom 2vh
    
  .footer-section:nth-last-child(1)
    order -1
    width 100vw

  #address > span
    color: $beige
    
  #INFORMATION
    color $light-purple
    padding 1vh
    font-size 1em
    // text-decoration overline

@media (orientation: landscape)
  .footer
    font-size 3.2rem
  #footer-div
    flex 0 1 100%
    // border 1px solid white
    {$flex-row-wrap}
    align-items flex-start
    justify-content space-around
  .footer-section, .nav-links
    {$flex-row-wrap}
    justify-content center
    align-items flex-start
    flex 0 1 22%
    height 80%
    & > div
      flex 0 1 100%
      
  .footer-section
    // border 1px solid gold
    
  .footer-section
    height 50%
  .nav-links
    flex 1
    & > h4
      height 10%
    & > ul
      height 65%
      {$flex-row-wrap}
      justify-content center
      align-items space-around
      & > li
        flex 1 100%
        // border 1px solid white
        font-size 0.9em
  .footer-section:nth-last-child(1)
    order -1
    flex 0 1 100%
    height auto
    // border 1px solid white
