@media only screen and (max-device-width: 1024px)
	.contact-wrapper
		justify-content center
		align-items flex-start
		font-size 3rem
	.contact
		flex 0 1 95%
		{$flex-row-wrap}
		align-items space-around
		justify-content center
		& > h1
			flex 0 1 100%
			text-align center
			font-size 1.5em
	.contact-text-pic
		display none
	.contact-form
		flex 0 1 100%
		{$flex-row-wrap}
		justify-content center
		& > div
			flex 0 1 100%
			{$flex-row-wrap}
			justify-content space-between
			// border 1px solid white
			margin 10px
			min-height 12.5%
			& > span
				font-size 0.9em
				font-family $content
				flex 0 1 35%
				color: $white
				align-self center
				text-align right
			& > input,
			& > textarea
				flex 0 1 60%
				background-color $light-purple
				border none
				border-radius 5px
				padding 3px
				font-size 0.6em
				// text-align center
				
		& > button
			{$button-style}
			margin-top 20px
			font-size 0.75em
				
@media only screen and (max-device-width: 1024px) and (orientation: landscape)
	.contact-form
		& > button
			margin-bottom 100px
	
