@media only screen and (max-device-width: 1024px)
	.resources-wrapper
		justify-content center
		align-items center
	.resources
		{$flex-row-wrap}
		justify-content center
		align-items center
		align-items space-around
		font-size 3rem
		flex 0 1 95%
		height 95%
		& > *
			flex 0 1 95%
			margin-bottom 20px
		& blockquote
			// align-self flex-start
			{$flex-row-wrap}
			justify-content space-around
			align-items center
			align-self flex-start
			margin 20px 0 35px 0
			& > span
				margin-top 10px
				text-align center
				font-style italic
				font-size 1em
				flex 0 1 100%
			& > a
				flex 0 1 20%
				{$flex-row}
				cursor default
				justify-content flex-end
				font-size 1.25em
				text-decoration none
				& > *
					// border 1px solid red
					{$link-style}
					text-align center
					// border none
		& > div
			& > h4
				text-align center
				font-size 1.4em
				margin-bottom 35px
				& > span
					color $dark-purple
			& h5
				font-size 1.25em
				margin-bottom 15px
			& ul
				font-size 1em
				margin-bottom 35px
				& > li
					{$list-color-alternate}
					padding 5px
			& p
				font-size 1em
				line-height 1.2em
			& a
				{$link-style}
				
	.what-we-know
		& > div:not(:last-child)
			margin-bottom 20px
		& > div:last-child
			margin-bottom 200px
		
	
