@media only screen and (max-device-width: 1024px) and (orientation: portrait)
	.research
		height 90%
		{$flex-row-wrap}
		justify-content center
		font-size 2.7rem
		& > button
			{$button-style}
			align-self flex-start
			flex 0 1 75%
			font-size 0.9em
			margin-bottom 20px
		
	.research-content
		height 70%
		{$flex-row-wrap}
		justify-content center
		align-items flex-start
		font-family $content
		// border 1px solid white
		& > h2
			flex 0 1 100%
			text-align center
			font-size 1.35em
		& > div
			flex 0 1 90%
			// height 100%
			{$flex-row-wrap}
			align-items center
			justify-content center
			// border 1px solid blue
			& > img
				flex 0 1 70%
				max-height 37.5vh
			& > iframe
				flex 0 1 70%
				height 37.5vh
			& > div
				flex 0 1 100%
				{$flex-row wrap}
				height 100%
				align-items center
				// border 1px solid green
				justify-content center
				& > h3
					flex 0 1 100%
					font-size 0.8em
					margin-bottom 10px
					& > a
						{$link-style}
						font-family $heading
				& > blockquote
					flex 0 1 90%
					font-size 0.9em
					
				// > * are the children... finally
				// & > *
				// 	border 1px solid orange
				
@media only screen and (max-device-width: 1024px) and (orientation: landscape)
	.research-wrapper
		justify-content center
	.research
		height 90%
		flex 0 1 100%
		{$flex-row-wrap}
		justify-content space-around
		align-self center
		align-items center
		font-size 2.7rem
		& > button
			{$button-style}
			order 3
			align-self center
			flex 0.75 1 1%
			height auto
			font-size 0.9em
	.research-content
		margin-top -25px
		{$flex-row-wrap}
		flex 0 1 70%
		height 100%
		justify-content center
		align-items flex-start
		font-family $content
		& > h2
			flex 0 1 100%
			// border 1px solid white
			text-align center
			font-size 1em
		& > div
			flex 0 1 90%
			{$flex-row-wrap}
			align-items center
			justify-content center
			max-height 85%
			& > img
				flex 0 1 90%
				max-height 60vh
			& > iframe
				flex 0 1 90%
				height 60vh
			& > div
				flex 0 1 100%
				{$flex-row wrap}
				height 100%
				align-items center
				// align-self flex-start
				// border 1px solid green
				justify-content center
				& > h3
					flex 0 1 100%
					font-size 0.8em
					margin-bottom 10px
					& > a
						{$link-style}
						font-family $heading
				& > blockquote
					flex 0 1 90%
					font-size 0.9em
