@media only screen and (max-device-width: 767px)
	.success-wrapper
		{$flex-row-wrap}
		justify-content center
		align-items center
		margin-bottom 5vh
		& > button
			{$button-style}
			flex 0 1 75%
			font-size 3rem
			flex 0 1 65%
			margin 5vh 0
			height 10vh
	.success-content
		{$flex-row-wrap}
		flex 0 1 100%
		justify-content center
		align items space-around
		font-size 3rem
		
	.story-container
		flex 0 1 90%
		{$flex-row-wrap}
		justify-content center
		& > h2
			font-size 1.5em
			flex 0 1 100%
			text-align center
			margin-bottom 4vh
		& > p
			font-size 01em
			line-height 1.2em
			flex 0 1 95%
			text-align justify
			margin-bottom 6vh
		
