// BUG: going to why-sr-works page on mobile makes all links unclickable except home and menu

.header
	@media only screen and (max-device-width: 767px)
		background-color $light-purple
		
// 	position fixed
// 	padding 10px 0
// 	top 0
// 	width 100vw
// 	left 0

#nav-ul
	@media only screen and (max-device-width: 767px)
		transition all 0.5s
		{$flex-row-wrap}
		height = 5%
		justify-content center
		align-items center
		align-self flex-start
			
	/* header links */
	& > li:not(#menu)
		@media only screen and (max-device-width: 767px)
			// {$list-color-alternate}
			flex 0 1 60%
			font-size 2.5rem
			transition all 0.5s
			height 5rem
			
			& > a
				transition all 0.5s
				
				
#menu
	{$flex-row}
	flex 1 1 100%
	font-size 2.5rem
	background-color $light-purple
	justify-content  center
	align-self flex-start
	text-align  center
	color $dark-purple
