@media only screen and (max-device-width: 1366px)
	.dyslexia-facts-wrapper
		align-items center
		justify-content center
	.dyslexia-facts
		font-size 3rem
		{$flex-row-wrap}
		justify-content center
		align-items space-around
		height 95%
		// margin-bottom 25px
		& > div
			flex 0 1 90%
			margin-bottom 20px
			{$flex-row-wrap}
			justify-content  center
			& h4
				flex 0 1 100%
				font-size 1.3em
				text-align center
				margin-bottom 10px
			& ul
				flex 0 1 100%
				font-size 1em
			& li
				{$list-color-alternate}
				padding 5px
				text-align center
			& span
				color $dark-purple
			& p
				font-size 1em
				line-height 1.2em
				// text-align justify
			& > button
				flex 1
				{$button-style}
				margin-top 30px
				margin-bottom 100px
				font-size 0.8em
				& > a
					font-family $content
					text-decoration none
					
	.what-do-you-know
		order 1
	.vertical-line
		order 10
	.signs-and-indicators
		order 2
	.reading-isnt-difficult
		order 5
	.progress
		order 4
