@media only screen and (max-device-width: 767px)
	$input-style =
		flex 1 1 25%
		font-family $content
		font-size 2rem
		border none
		background-color $light-purple
		border-radius 5px
		padding 3px
	.contact-text-pic
		display none
	.contact-wrapper
		{$flex-row-wrap}
		justify-content center
		// align-items center
		font-size 3rem
		& > h1
			display none
			// flex 0 1 100%
			// // border 1px solid red
			// text-align center
		& form
			{$flex-row-wrap}
			justify-content center
			& > *
				flex 0 1 90%
				{$flex-row-wrap}
				align-items center
				// border 1px solid red
			& span
				flex 0 1 49%
				text-align right
				margin-right 15px
				{$heading-style}
				font-size 0.9em
			& input
				{$input-style}
				height 50%
				&:focus
					background-color $white
					outline none
			& textarea
				{$input-style}
				flex 1 1 30%
				height 80%
				&:focus
					background-color $white
					outline none
			& button
				align-self flex-start
				{$button-style}
				{$flex-row}
				justify-content center
				align-items center
				flex 0 1 50%
				height 35px
				margin-bottom 50px
				& > span
					text-align center
					flex 0 1 10%
					height 100%
					color $dark-purple
					font-size 2.5rem
		

	.comment-box
		height 20%
		flex 0 1 70%
