.resources-wrapper
	flex-wrap wrap
	align-items space-around
	& blockquote
		flex 0 1 90%
		// align-self flex-start
		display flex
		justify-content space-between
		align-items center
		align-self flex-start
		& > span
			font-size 2.5rem
			flex 0 1 80%
		& a
			flex 0 1 10%
			{$link-style}
			font-size 3rem
			margin-left 5rem
			
.symptoms, .what-we-know
	// border 1px solid white
	{$flex-row-wrap}
	flex 0 1 90%
	height 37.5%
	justify-content space-between
	& > h4
		flex 0.5 1 10%
		// align-self flex-start
		color $white
		align-self center
		& span
			color $dark-purple
		// margin-left 5rem
	& > div
		flex 0 1 42.5%
		display flex
		flex-direction column
		height 100%
		// border 1px solid green
		
		& > h5
			align-self center
			// flex 1 1 100%
			background-color $blue
			padding 5px
			// border 1px solid white
			// text-decoration underline
			// text-decoration-style dotted
		& ul
			{$flex-row-wrap}
			justify-content center
			font-family $content
			line-height 2.5rem
			color $light-purple
			align-self flex-start
			font-size 1.75rem
			overflow-y auto
			align-self center
			// width 95%
		& li
			padding 0.2rem
			flex 0 1 95%
			&:hover
				background-color $white
				color $dark-purple
	
.what-we-know
	& p
		overflow-y auto
		{$flex-row-wrap}
		justify-content center
		text-align justify
		& > span
			flex 0 1 95%
