@media only screen and (min-width: 1367px)
	.success-wrapper
		{$flex-row-wrap}
		justify-content center
		align-items flex-start
		& > button
			{$button-style}   
			flex 0 1 30%

	.success-content
		{$flex-row-wrap}
		// align-items space-around
		justify-content space-around
		height 80%
		// border 2px solid white

	.story-container
		// border 1px solid red
		flex 0 1 47.5%
		height 49.5%
		{$flex-row-wrap}
		// justify-content center
		& h2
			color $white
			// border 1px solid blue
			flex 1 1 90%
			// max-height 10%
			align-self center
			display flex
			justify-content center
		& p
			overflow-y auto
			text-align justify
			height 60%
			// display flex
			// align-items flex-start
			align-self flex-start
			flex 0 1 100%
			// border 1px solid yellow
			// display flex
			padding 1vw
			// align-items center
