$clear =
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;

$heading-style =
	color white
	font-family $heading

// html
// 	max-height rem
// 	max-width rem

$button-style = 
	font-family $content
	background-color $white
	color $blue
	border-radius 2px
	box-shadow -0.25rem 0.5rem 0.5rem $link-color
	border 5px solid $white
	font-size 1rem
	transition all 0.3s
	outline 0
	align-self center
	width 50%
	display flex
	justify-content center
	& > *
		flex 1
	&:hover, &:active
		cursor pointer
		opacity 0.9
		box-shadow -0.175rem 0.375rem 0.375rem $link-color
	&:active
		transform: translateY(2px)
		box-shadow -0.125rem 0.25rem 0.25rem $link-color

$link-style =
	color $link-color
	transition all 0.3s
	font-family $content
	text-decoration none
	border-bottom 1px dashed $link-color
	&:hover
		color $orange
		cursor pointer
		border-bottom 1px dashed $orange

$flex-row =
	display flex
	flex-direction row
	flex-wrap wrap
	
$flex-col =
	display flex
	flex-direction column
		
$flex-row-wrap =
	display flex
	flex-direction row
	flex-wrap wrap

$flex-col-wrap =
	display flex
	flex-direction column
	flex-wrap wrap

$select-off =
	touch-callout none
	user-select none
	
$select-on =
	touch-callout text
	user-select text

$p-style =
	font-family $content
	font-size 1rem
	line-height 1.75rem
	color $light-purple

$list-color-alternate =
	&:nth-child(odd)
		background-color $light-purple
		color $blue
	&:nth-child(even)
		background-color $blue
		color $light-purple
