$content = Cormorant
$heading = Lora
$white = #f7f6f2
$blue = #6B7A8F
$orange = #F7882F
$yellow = #F7C331
$light-yellow = #f9dd90
$beige = #DCC7AA
$link-color = #343435
$dark-purple = #28276D
$light-purple = #DEDCEA
$yellow-opacity = rgba(247, 195, 49, 0.5)

@import url('https://fonts.googleapis.com/css?family=Cormorant|Lora');

// Import all partials
@require './_variables.styl'
@require './_*.styl'
// Import Cormorant font from Google Font API

flex-row-center =
	display flex
	justify-content center
	
flex-row-all-center =
	display flex
	justify-content center
	align-items center

*
	margin 0
	padding 0
	
::-webkit-scrollbar
	background-color $white
::-webkit-scrollbar-thumb
	background $link-color
	-webkit-border-radius 0
	
html
	font-size 2vmin

h1
	{$heading-style}
	font-size 3rem

h2
	{$heading-style}	
	font-size 2.5rem
	
h3
	{$heading-style}
	font-size 2rem

h4
	{$heading-style}
	font-size 1.65rem

h5
	{$heading-style}
	font-size 1.35rem
	
p
	font-family $content
	font-size 1rem
	line-height 1.75rem
	color $light-purple
	
ul
	font-family $content
	list-style none
	
blockquote
	color $light-purple
	font-style italic
	
button
	flex 0 1 50%
	font-family $content
	// height 3vmin
	background-color $white
	color $blue
	border-radius 2px
	box-shadow -0.25vmin 0.5vmin 0.5vmin $link-color
	border 5px solid $white
	font-size 3vmin
	transition all 0.3s
	outline 0
	display flex
	align-items center
	justify-content center
	text-align center
	height 5vmin
	&:hover, &:active
		cursor pointer
		opacity 0.9
		box-shadow -0.175vmin 0.375vmin 0.375vmin $link-color
	&:active
		transform: translateY(2px)
		box-shadow -0.125vmin 0.25vmin 0.25vmin $link-color
		
// .show
// 	opacity 1
// 	{$select-on}
	
// .hide
// 	{$select-off}
// 	opacity 0


.active
	border-bottom 1px dashed $dark-purple
	font-weight bold

#root
	background-color $blue
	position fixed
	height 100vh
	min-width 100vw
	max-width 100vw
	// border 5px solid blue
		
	/* REACT-ROOT DIV */
	& > div
		display flex
		height 100%
		width 100vw
		overflow-y auto
		align-items center
		justify-content center

.page-wrapper
	// border 5px solid lime
	position fixed
	top 4vh
	left 0
	margin-top 15px
	{$flex-row-wrap}
	flex 1 1 100%
	height 85vh
	@media only screen and (max-device-width: 1024px)
		height 86vh
	width 100vw
	// justify-content center
	// align-items center
	overflow-y auto
	-webkit-overflow-scrolling touch
	background-color $blue
	& > *
		margin-top 20px
	
@require './_mobile-*.styl'
