$content = Cormorant
$heading = Lora
$white = #f7f6f2
$blue = #6B7A8F
$orange = #F7882F
$yellow = #F7C331
$light-yellow = #f9dd90
$beige = #DCC7AA
$link-color = #343435
$dark-purple = #28276D
$light-purple = #DEDCEA
$yellow-opacity = rgba(247, 195, 49, 0.5)

$clear =
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;

$heading-style =
	color white
	font-family $heading

html
	max-height vmin
	max-width vmin

$button-style = 
	font-family $content
	// height 3vmin
	background-color $white
	color $blue
	border-radius 2px
	box-shadow -0.25vmin 0.5vmin 0.5vmin $link-color
	border 5px solid $white
	font-size 3vmin
	transition all 0.3s
	outline 0
	display flex
	align-items center
	justify-content center
	&:hover, &:active
		cursor pointer
		opacity 0.9
		box-shadow -0.175vmin 0.375vmin 0.375vmin $link-color
	&:active
		transform: translateY(2px)
		box-shadow -0.125vmin 0.25vmin 0.25vmin $link-color

$link-style =
	color $link-color
	transition all 0.3s
	font-family $content
	text-decoration none
	border-bottom 1px dashed $link-color
	&:hover
		color $orange
		cursor pointer
		border-bottom 1px dashed $orange

@import url('https://fonts.googleapis.com/css?family=Cormorant|Lora');

// Import all partials
@require './_*.styl'
// Import Cormorant font from Google Font API

flex-row-center =
	display flex
	justify-content center
	
flex-row-all-center =
	display flex
	justify-content center
	align-items center

*
	margin 0
	padding 0
	
::-webkit-scrollbar
	width 2vmin
	background-color $white
::-webkit-scrollbar-thumb
	background $link-color
	-webkit-border-radius 0
	
h1
	{$heading-style}
	font-size 5.5vmin

h2
	{$heading-style}	
	font-size 4.8vmin
	
h3
	{$heading-style}
	font-size 4.3vmin

h4
	{$heading-style}
	font-size 3.5vmin

h5
	{$heading-style}
	font-size 2.5vmin
	
p
	font-family $content
	font-size 2vmin
	line-height 3vmin
	color $light-purple
	
ul
	font-family $content
	list-style none
	
blockquote
	color $light-purple
	font-style italic
	
button
	flex 0 1 50%
	font-family $content
	// height 3vmin
	background-color $white
	color $blue
	border-radius 2px
	box-shadow -0.25vmin 0.5vmin 0.5vmin $link-color
	border 5px solid $white
	font-size 3vmin
	transition all 0.3s
	outline 0
	display flex
	align-items center
	justify-content center
	&:hover, &:active
		cursor pointer
		opacity 0.9
		box-shadow -0.175vmin 0.375vmin 0.375vmin $link-color
	&:active
		transform: translateY(2px)
		box-shadow -0.125vmin 0.25vmin 0.25vmin $link-color

.active
	border-bottom 1px dashed $dark-purple
	font-weight bold

#root
	background-color $blue
	height 100vh
	position fixed
	min-width 100vw
	max-width 100vw
	// border 5px solid blue
		
	/* REACT-ROOT DIV */
	& > div
		display flex
		height 100%
		align-items center
		justify-content center

.page-wrapper
	// border 5px solid green
	height 75%
	display flex
	flex 1 1 100%
	justify-content center
	align-items center
	overflow-y auto
